<div id="<%= dom_id speedrun %>">
  <p>
    <strong>User:</strong>
    <%= speedrun.user.email %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= speedrun.category.name %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= speedrun.time %>
  </p>
</div>
